In [1]:
import pandas as pd


# Definir las rutas de los archivos
ruta_clientes = './datos/clientes.csv'
ruta_productos = './datos/productos.csv'
ruta_boletas = './datos/boletas.csv'
ruta_detalle = './datos/detalle.csv'

# Cargar los datos en DataFrames
df_clientes = pd.read_csv(ruta_clientes)
df_productos = pd.read_csv(ruta_productos)
df_boletas = pd.read_csv(ruta_boletas)
df_detalle = pd.read_csv(ruta_detalle)

1. Para  nuestros  datos  de  supermercado, crear  una  lista  de  los clientes, con el gasto hecho en compras de cada uno. Si no ha comprado, debe aparecer con un 0

In [2]:
# Unir los DataFrames
df_compras = pd.merge(df_boletas, df_detalle, left_on='numero', right_on='numero_boleta')

# Necesitamos también los precios de los productos para calcular el gasto total
df_compras = pd.merge(df_compras, df_productos, left_on='codigo_producto', right_on='codigo')

# Calcular el gasto de cada cliente
df_compras['gasto'] = df_compras['cantidad'] * df_compras['precio']
gasto_por_cliente = df_compras.groupby('rut_cliente')['gasto'].sum()

# Convertir la serie a DataFrame
gasto_por_cliente = gasto_por_cliente.reset_index()

# Unir con el DataFrame de clientes para incluir a los que no han hecho compras
df_clientes_gasto = pd.merge(df_clientes, gasto_por_cliente, left_on='rut', right_on='rut_cliente', how='left')

# Reemplazar los NaN por 0
df_clientes_gasto['gasto'] = df_clientes_gasto['gasto'].fillna(0)

# Mostrar el DataFrame
print(df_clientes_gasto)

           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      NaN         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      NaN    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           NaN
5   33445566-7         Mateo Diaz                      NaN  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           NaN
7   45678901-3     Diego Martínez       Avenida Irreal 987     La Serena
8   55667788-6      Matias Castro   Avenida Innovación 321           NaN
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           NaN
10  56789012-4          Ana Lopez                      NaN           NaN
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      NaN       Iquique
13  77889900-7      Renata Flores                      NaN       Copiapó
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
16  89012345-7      Marta Ramírez         Calle Soñada 210           NaN
17  90123456-8       Daniel Silva                      NaN  Puerto Montt
18  99001122-3        Sofía Pérez        Calle Digital 789           NaN
19  99001122-8       Nicolás Ruiz   Calle Programación 210           NaN

   fecha_nacimiento     telefono                  email rut_cliente     gasto
0        1994-12-31          NaN      tomas@example.com         NaN       0.0
1        1998-07-12  945678321.0      laura@example.com  11223344-5   98500.0
2        2000-05-15  912345678.0       juan@example.com  12345678-9  133500.0
3        1988-03-10  912345678.0      pedro@example.com  23456789-1  286200.0
4        1993-02-14  977894512.0     camila@example.com         NaN       0.0
5        2002-02-28  967894512.0      mateo@example.com  33445566-7   35000.0
6        1999-12-05  934567890.0      carla@example.com  34567890-2   14000.0
7               NaN          NaN      diego@example.com  45678901-3    3600.0
8        1992-06-08  923478965.0                    NaN         NaN       0.0
9        1997-04-05  923478965.0  valentina@example.com  55667788-9  121900.0
10       1990-08-18  978901234.0        ana@example.com  56789012-4   14000.0
11       2005-04-25          NaN      luisa@example.com  67890123-5  108500.0
12       1996-10-17  955678902.0     martin@example.com  77889900-1   32600.0
13              NaN          NaN     renata@example.com         NaN       0.0
14       1985-11-30  923456789.0                    NaN  78901234-6   10000.0
15       1995-10-20  987654321.0      maria@example.com  87654321-0    8000.0
16              NaN          NaN                    NaN  89012345-7   13000.0
17              NaN          NaN                    NaN  90123456-8   10500.0
18       2001-09-22  912345672.0      sofia@example.com  99001122-3   33800.0
19       2003-11-03  955678902.0    nicolas@example.com         NaN       0.0

2. Crea un DataFrame con datos de ventas por producto y región. Utiliza multi-índices para representar la información por año y trimestre. Luego, calcula la suma de ventas por trimestre para cada producto.

In [3]:
import pandas as pd

# Cambiar el nombre de la columna 'nombre' en df_productos y df_clientes
df_productos.rename(columns={'nombre': 'nombre_producto'}, inplace=True)
df_clientes.rename(columns={'nombre': 'nombre_cliente'}, inplace=True)

# Unir los DataFrames
df_ventas = pd.merge(df_boletas, df_detalle, left_on='numero', right_on='numero_boleta')
df_ventas = pd.merge(df_ventas, df_productos, left_on='codigo_producto', right_on='codigo')
df_ventas = pd.merge(df_ventas, df_clientes, left_on='rut_cliente', right_on='rut')

# Extraer el año y el trimestre de la fecha
df_ventas['fecha'] = pd.to_datetime(df_ventas['fecha'])
df_ventas['Año'] = df_ventas['fecha'].dt.year
df_ventas['Trimestre'] = df_ventas['fecha'].dt.quarter

# Crear un multi-índice con el producto, la región (comuna), el año y el trimestre
df_ventas.set_index(['nombre_producto', 'comuna', 'Año', 'Trimestre'], inplace=True)

# Calcular la suma de ventas por trimestre para cada producto en cada región
ventas_por_trimestre = df_ventas.groupby(level=['nombre_producto', 'comuna', 'Año', 'Trimestre'])['cantidad'].sum()

# Mostrar el resultado
print(ventas_por_trimestre)

nombre_producto   comuna        Año   Trimestre
Aceite de cocina  Santiago      2023  4             6
Agua mineral      Iquique       2023  4             3
                  La Serena     2023  4             3
Arroz             Santiago      2023  4             9
Azúcar            Iquique       2023  4             7
                  Puerto Montt  2023  4             3
                  Santiago      2023  4             2
Café              Antofagasta   2023  4             4
                  Valparaíso    2023  4             8
Fideos            Antofagasta   2023  4             5
                  Concepción    2023  4             5
Galletas          Antofagasta   2023  4             7
Harina            Antofagasta   2023  4             1
                  Concepción    2023  4             1
                  Iquique       2023  4             3
                  Santiago      2023  4             2
Helado            Antofagasta   2023  4             4
                  Temuco        2023  4             4
                  Viña del Mar  2023  4             2
Leche             Puerto Montt  2023  4             1
                  Santiago      2023  4             1
Mantequilla       Valparaíso    2023  4             4
Pescado           Antofagasta   2023  4             4
                  Rancagua      2023  4             9
                  Valparaíso    2023  4            20
Queso             Viña del Mar  2023  4             5
Verduras          Iquique       2023  4             1
                  Rancagua      2023  4             5
                  Valparaíso    2023  4            10
Name: cantidad, dtype: int64

3. Tienes dos DataFrames: uno con información de clientes (ID, nombre, dirección) y otro con sus pedidos (ID del cliente, producto, cantidad). Realiza una combinación de datos para obtener un DataFrame que muestre el nombre del cliente, su dirección y los productos pedidos por cada cliente.

In [4]:
import pandas as pd

# Primero, combina df_boletas y df_detalle
df_boletas_detalle = pd.merge(df_boletas, df_detalle, left_on='numero', right_on='numero_boleta')

# Luego, combina el resultado con df_productos
df_boletas_detalle_productos = pd.merge(df_boletas_detalle, df_productos, left_on='codigo_producto', right_on='codigo')

# Finalmente, combina el resultado con df_clientes
df_combinado = pd.merge(df_clientes, df_boletas_detalle_productos, left_on='rut', right_on='rut_cliente')


# Puedes seleccionar solo las columnas que necesitas
df_combinado = df_combinado[['nombre_cliente', 'direccion', 'nombre_producto', 'cantidad']]

#verificamos las columnas
#print("Columnas en df_combinado:", df_combinado.columns)

# Mostrar el resultado
print(df_combinado)

       nombre_cliente                direccion   nombre_producto  cantidad
0         Laura Rojas        Calle Virtual 567              Café         4
1         Laura Rojas        Calle Virtual 567          Galletas         7
2         Laura Rojas        Calle Virtual 567           Pescado         4
3         Laura Rojas        Calle Virtual 567            Helado         4
4         Laura Rojas        Calle Virtual 567            Fideos         5
5         Laura Rojas        Calle Virtual 567            Harina         1
6          Juan Perez          Calle Falsa 123             Arroz         3
7          Juan Perez          Calle Falsa 123  Aceite de cocina         6
8          Juan Perez          Calle Falsa 123            Azúcar         2
9          Juan Perez          Calle Falsa 123             Arroz         6
10         Juan Perez          Calle Falsa 123            Harina         2
11         Juan Perez          Calle Falsa 123             Leche         1
12    Pedro Rodríguez                      NaN              Café         8
13    Pedro Rodríguez                      NaN       Mantequilla         4
14    Pedro Rodríguez                      NaN          Verduras        10
15    Pedro Rodríguez                      NaN           Pescado        20
16         Mateo Diaz                      NaN             Queso         5
17         Mateo Diaz                      NaN            Helado         2
18     Carla González      Calle Inventada 789             Yogur         7
19     Diego Martínez       Avenida Irreal 987      Agua mineral         3
20  Valentina Herrera  Avenida Tecnológica 123             Yogur         8
21  Valentina Herrera  Avenida Tecnológica 123             Arroz         9
22  Valentina Herrera  Avenida Tecnológica 123            Fideos         2
23  Valentina Herrera  Avenida Tecnológica 123  Aceite de cocina         5
24          Ana Lopez                      NaN    Frutas frescas         2
25    Luisa Fernández       Calle Ficticia 321          Verduras         5
26    Luisa Fernández       Calle Ficticia 321           Pescado         9
27       Martin Gómez                      NaN      Agua mineral         3
28       Martin Gómez                      NaN          Verduras         1
29       Martin Gómez                      NaN            Harina         3
30       Martin Gómez                      NaN            Azúcar         7
31      Javier Torres   Avenida de Ensueño 654            Helado         4
32      Maria Sánchez   Avenida Imaginaria 456            Fideos         5
33      Maria Sánchez   Avenida Imaginaria 456            Harina         1
34      Marta Ramírez         Calle Soñada 210             Arroz         6
35      Marta Ramírez         Calle Soñada 210            Harina         2
36       Daniel Silva                      NaN             Leche         1
37       Daniel Silva                      NaN            Azúcar         3
38        Sofía Pérez        Calle Digital 789    Carne de pollo         6
39        Sofía Pérez        Calle Digital 789              Café         1

 4. Para una tarde de bingo se usarán tablas generadas con las siguientes reglas:
•      Los 5 números en cada columna son aleatorios ordenados no repetidos de acuerdo al rango asignado por columna.
•      La casilla central de la tabla tiene valor marcado cero o ‘libre’. Realice un programa para generar una tabla de bingo

In [5]:
import numpy as np
import pandas as pd

# Definir los rangos para cada columna
rangos = [(1, 15), (16, 30), (31, 45), (46, 60), (61, 75)]

# Crear una lista vacía para almacenar las columnas
columnas = []

# Para cada rango
for rango in rangos:
    # Generar 5 números aleatorios no repetidos y ordenarlos
    numeros = np.random.choice(range(rango[0], rango[1] + 1), size=5, replace=False)
    numeros.sort()
    # Añadir los números a las columnas
    columnas.append(numeros)

# Crear la tabla de bingo como un DataFrame de strings
tabla_bingo = pd.DataFrame(columnas, dtype=str).transpose()

# Asignar los encabezados de las columnas
tabla_bingo.columns = ['B', 'I', 'N', 'G', 'O']

# Marcar la casilla central como 'libre'
tabla_bingo.iloc[2, 2] = 'libre'

# Mostrar la tabla de bingo
print(tabla_bingo)

    B   I      N   G   O
0   2  16     31  46  61
1   5  22     36  48  62
2   7  24  libre  50  72
3   9  25     43  56  73
4  10  30     45  58  74