a. Junto  a  este  archivo,  se  encuentran  los  archivos  csv  para clientes, productos, boletas y detalle. Cargue, los datos de los archivos en sus respectivas variables.

In [2]:
import pandas as pd


# Definir las rutas de los archivos
ruta_clientes = './datos/clientes.csv'
ruta_productos = './datos/productos.csv'
ruta_boletas = './datos/boletas.csv'
ruta_detalle = './datos/detalle.csv'

# Cargar los datos en DataFrames
df_clientes = pd.read_csv(ruta_clientes)
df_productos = pd.read_csv(ruta_productos)
df_boletas = pd.read_csv(ruta_boletas)
df_detalle = pd.read_csv(ruta_detalle)

In [3]:
# Mostrar DataFrames
print(df_clientes.head())

          rut           nombre              direccion       comuna  \
0  11223344-4    Tomás Ramírez                    NaN        Arica
1  11223344-5      Laura Rojas      Calle Virtual 567  Antofagasta
2  12345678-9       Juan Perez        Calle Falsa 123     Santiago
3  23456789-1  Pedro Rodríguez                    NaN   Valparaíso
4  33445566-5    Camila Torres  Calle Cibernética 456          NaN

  fecha_nacimiento     telefono               email
0       1994-12-31          NaN   tomas@example.com
1       1998-07-12  945678321.0   laura@example.com
2       2000-05-15  912345678.0    juan@example.com
3       1988-03-10  912345678.0   pedro@example.com
4       1993-02-14  977894512.0  camila@example.com

In [4]:
# Mostrar DataFrames
print(df_productos.head())

   codigo            nombre  precio
0     101             Arroz    1500
1     102            Fideos    1200
2     103  Aceite de cocina   18000
3     104            Harina    2000
4     105             Leche    3000

In [5]:
# Mostrar DataFrames
print(df_boletas.head())

   numero       fecha rut_cliente
0       1  2023-11-05  12345678-9
1       2  2023-11-07  87654321-0
2       3  2023-11-09  23456789-1
3       4  2023-11-12  34567890-2
4       5  2023-11-15  45678901-3

In [6]:
# Mostrar DataFrames
print(df_detalle.head())

   numero_boleta  codigo_producto  cantidad
0              1              101         3
1              1              103         6
2              1              106         2
3              2              102         5
4              2              104         1

b. Ahora que tenemos los datos, podemos trabajar con ellos. Lo primero  que  haremos  será  calcular  las  edades.  Para  esto, agregue una nueva columna a los datos de los clientes, que calcule la edad a partir de su fecha de nacimiento.

In [7]:
from datetime import datetime

# Asegurarse de que la fecha de nacimiento esté en formato datetime
df_clientes['fecha_nacimiento'] = pd.to_datetime(df_clientes['fecha_nacimiento'], errors='coerce')

# Calcular la edad y agregarla como una nueva columna
df_clientes['Edad'] = datetime.now().year - df_clientes['fecha_nacimiento'].dt.year

# Omitir los valores nulos en la fecha de nacimiento
df_clientes.dropna(subset=['fecha_nacimiento'], inplace=True)

# Llenar los valores nulos en la columna de edad con el promedio de edad
df_clientes['Edad'] = df_clientes['Edad'].fillna(df_clientes['Edad'].mean())

# Mostrar el DataFrame df_clientes con el nuevo campo Edad
print(df_clientes.head())

          rut           nombre              direccion       comuna  \
0  11223344-4    Tomás Ramírez                    NaN        Arica
1  11223344-5      Laura Rojas      Calle Virtual 567  Antofagasta
2  12345678-9       Juan Perez        Calle Falsa 123     Santiago
3  23456789-1  Pedro Rodríguez                    NaN   Valparaíso
4  33445566-5    Camila Torres  Calle Cibernética 456          NaN

  fecha_nacimiento     telefono               email  Edad
0       1994-12-31          NaN   tomas@example.com  30.0
1       1998-07-12  945678321.0   laura@example.com  26.0
2       2000-05-15  912345678.0    juan@example.com  24.0
3       1988-03-10  912345678.0   pedro@example.com  36.0
4       1993-02-14  977894512.0  camila@example.com  31.0

c.  Calcular el promedio de edad.

In [8]:

# Calcular el promedio de edad
promedio_edad = df_clientes['Edad'].mean()

# Convertir promedio_edad a enteros
promedio_edad = int(promedio_edad)

# Mostrar el promedio de edad
print(f' El promedio de edad es: {promedio_edad}')

 El promedio de edad es: 27

d. ¿Cuál es el cliente con la edad mayor?

In [9]:
# Encontrar el índice del registro con la edad más alta
indice_max_edad = df_clientes['Edad'].idxmax()

# Convertir la edad a entero en el DataFrame original
df_clientes['Edad'] = df_clientes['Edad'].astype(int)

# Mostrar el registro con la edad más alta
registro_max_edad = df_clientes.loc[indice_max_edad]



print(registro_max_edad)

rut                             78901234-6
nombre                       Javier Torres
direccion           Avenida de Ensueño 654
comuna                              Temuco
fecha_nacimiento       1985-11-30 00:00:00
telefono                       923456789.0
email                                  NaN
Edad                                    39
Name: 14, dtype: object

e.  ¿Cuál es el menor?

In [10]:
# Encontrar el índice del registro con la edad más baja
indice_min_edad = df_clientes['Edad'].idxmin()

# convertir la edad a entero
df_clientes['Edad'] = df_clientes['Edad'].astype(int)

# Mostrar el registro con la edad más baja
registro_min_edad = df_clientes.loc[indice_min_edad]

print(registro_min_edad)

rut                          67890123-5
nombre                  Luisa Fernández
direccion            Calle Ficticia 321
comuna                         Rancagua
fecha_nacimiento    2005-04-25 00:00:00
telefono                            NaN
email                 luisa@example.com
Edad                                 19
Name: 11, dtype: object

f.  Buscar cuantas boletas tiene cada cliente, fusionar clientes con boletas a través del rut.

In [11]:

# Fusionar los datos de los clientes con las boletas a través del RUT, manteniendo todos los registros
df_fusionado = pd.merge(df_clientes, df_boletas, left_on='rut', right_on='rut_cliente', how='outer')

# Contar cuántas boletas tiene cada cliente
df_fusionado['total_boletas'] = df_fusionado.groupby('rut')['numero'].transform('count')

# Seleccionar solo las columnas 'rut', 'nombre' y 'numero_boletas'
df_fusionado = df_fusionado[['rut', 'nombre', 'numero', 'total_boletas']]

# Configurar pandas para mostrar todas las filas
pd.set_option('display.max_rows', None)

# Mostrar el DataFrame fusionado
print(df_fusionado.head(40))

           rut             nombre  numero  total_boletas
0   11223344-4      Tomás Ramírez     NaN            0.0
1   11223344-5        Laura Rojas    11.0            4.0
2   11223344-5        Laura Rojas    16.0            4.0
3   11223344-5        Laura Rojas    21.0            4.0
4   11223344-5        Laura Rojas    22.0            4.0
5   12345678-9         Juan Perez     1.0            2.0
6   12345678-9         Juan Perez    23.0            2.0
7   23456789-1    Pedro Rodríguez     3.0            2.0
8   23456789-1    Pedro Rodríguez    24.0            2.0
9   33445566-5      Camila Torres     NaN            0.0
10  33445566-7         Mateo Diaz    12.0            2.0
11  33445566-7         Mateo Diaz    17.0            2.0
12  34567890-2     Carla González     4.0            1.0
13         NaN                NaN     5.0            NaN
14  55667788-6      Matias Castro     NaN            0.0
15  55667788-9  Valentina Herrera    13.0            2.0
16  55667788-9  Valentina Herrera    18.0            2.0
17  56789012-4          Ana Lopez     6.0            1.0
18  67890123-5    Luisa Fernández     7.0            1.0
19  77889900-1       Martin Gómez    14.0            2.0
20  77889900-1       Martin Gómez    19.0            2.0
21  78901234-6      Javier Torres     8.0            1.0
22  87654321-0      Maria Sánchez     2.0            1.0
23         NaN                NaN     9.0            NaN
24         NaN                NaN    10.0            NaN
25  99001122-3        Sofía Pérez    15.0            2.0
26  99001122-3        Sofía Pérez    20.0            2.0
27  99001122-8       Nicolás Ruiz     NaN            0.0

g. Ahora,  queremos  hacer  algo  parecido  con  los  productos. Calcular cuánto se ha vendido (en dinero) de cada producto.

In [12]:
# Fusionar los DataFrames basándose en el 'codigo_producto'
df_fusionado = pd.merge(df_detalle, df_productos, left_on='codigo_producto', right_on='codigo', how='left')

# Calcular el total de ventas para cada producto
df_fusionado['total_ventas'] = df_fusionado['cantidad'] * df_fusionado['precio']

# Agrupar por producto y sumar el total de ventas
df_total_ventas = df_fusionado.groupby(['codigo_producto', 'nombre'])['total_ventas'].sum().reset_index()

# Mostrar el DataFrame con el total de ventas para cada producto
print(df_total_ventas)

    codigo_producto            nombre  total_ventas
0               101             Arroz         36000
1               102            Fideos         14400
2               103  Aceite de cocina        198000
3               104            Harina         18000
4               105             Leche          6000
5               106            Azúcar         30000
6               107              Café         65000
7               109          Galletas         24500
8               110       Mantequilla         11200
9               111             Queso         30000
10              112             Yogur         30000
11              113      Agua mineral          7200
12              115    Frutas frescas         14000
13              116          Verduras         88000
14              117    Carne de pollo         28800
15              119           Pescado        297000
16              120            Helado         25000

h. Agregar los productos que nunca se han vendido con un 0

In [13]:
# Fusionar los DataFrames basándose en el 'codigo_producto', asegurándose de que todos los productos estén incluidos
df_fusionado = pd.merge(df_detalle, df_productos, left_on='codigo_producto', right_on='codigo', how='right')

# Calcular el total de ventas para cada producto
df_fusionado['total_ventas'] = df_fusionado['cantidad'] * df_fusionado['precio']

## Reemplazar los valores NaN en 'total_ventas' con 0
df_fusionado['total_ventas'] = df_fusionado['total_ventas'].fillna(0)

# Agrupar por producto y sumar el total de ventas
df_total_ventas = df_fusionado.groupby(['codigo', 'nombre'])['total_ventas'].sum().reset_index()

# Mostrar el DataFrame con el total de ventas para cada producto
print(df_total_ventas.head(25))

    codigo            nombre  total_ventas
0      101             Arroz       36000.0
1      102            Fideos       14400.0
2      103  Aceite de cocina      198000.0
3      104            Harina       18000.0
4      105             Leche        6000.0
5      106            Azúcar       30000.0
6      107              Café       65000.0
7      108               Pan           0.0
8      109          Galletas       24500.0
9      110       Mantequilla       11200.0
10     111             Queso       30000.0
11     112             Yogur       30000.0
12     113      Agua mineral        7200.0
13     114             Jugos           0.0
14     115    Frutas frescas       14000.0
15     116          Verduras       88000.0
16     117    Carne de pollo       28800.0
17     118      Carne de res           0.0
18     119           Pescado      297000.0
19     120            Helado       25000.0